*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header {
   


   background-color: #ffffff;
   padding-top: 0;
}
nav{
    width:1600px;
    height: 92px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navlogo{
    width: 139px;
    height: 60px;
    padding: 16px;
    padding-left: 120px;
}
.menu{
    display: flex;
    list-style-type: none;
   
}

.menu li a{
    margin: 0 32px;
  font-size: 16px;
  font-weight: 500;  
  text-decoration: none;
  color: #000000;

    
}
.btn{
    color: #FFFFFF;
    background-color:#30B868;
    padding:12px 16px 12px 16px;
    margin-right: 120px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;


}